<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>thunder browsers example</title>
    <meta name="description" content="thunder browsers example" />
  </head>
  <body>
    <script src="js/libs/jquery.js" ></script>
    <script src="js/libs/require.js" data-main="js/boot.js"></script>
    <script>
      requirejs.config({
        baseUrl : '/js'
      });
    </script>
  </body>
</html>