!!! 5
%head
  %title!=title
%body
  %h1.header1!=header1
  %h2.header2!=header2
  %h3.header3!=header3
  %h4.header4!=header4
  %h5.header5!=header5
  %h6.header6!=header6
  %ul.list
    :each item in list
      %li.item!=item